.order{
    height:100%;
    display:flex;
    flex-direction:column;
    .nav{
         height:1.328125rem;position:relative;
        .order-header{
            height:0.666667rem;
            background: #f2f2f2;width:100%;
            display:flex;position:fixed;
            justify-content:space-around;
            li{
                height:0.666667rem;
                line-height:0.666667rem;
                text-align:center;
                color: rgba(0, 0, 0, 0.3);
            }
            li:first-child{
                width:0.8rem;
                font-size:0.453333rem;
                
            }
            li:nth-child(2){
                flex:1;
                font-size:0.24rem;
                color:#666;
            }
            li:last-child{
                width:0.8rem;
                font-size:0.32rem;
            }
        }

        .warpbox{
            .table_card{
                .tab{
                    margin-top:0.666667rem; 
                    height:0.666667rem;
                    background: #f2f2f2;
                    display:flex;border-bottom:1px solid rgba(0, 0, 0, 0.3);
                    justify-content:space-around;background-color:#fff;
                    li{
                        height:0.666667rem;
                        line-height:0.666667rem;
                        text-align:center;font-size:14px;
                    }
                    .activ{
                            color:#f90;border-bottom:2px solid red;
                    }
                    li:hover.activ{
                        color:#f90;
                    }
                }

            .tabCon{
                .on{
                    .newslist01{
                        .rt{
                            margin:0.0625rem;
                            height:0.9375rem;border-bottom:1px solid #ccc;
                            .riqi{
                                    font-size:18px;
                                    padding-left: 0.15625rem;display:inline-block;color:#000;
                                }
                            .bian{
                                font-size:16px;padding-left: 0.15625rem;margin-bottom:0.125rem;display:inline-block;
                            }
                            .deng{
                               font-size:18px;color:red;padding-left: 0.625rem;padding-right: 0.125rem;
                            }
                        }
                           .showl{

                               
                                .cont{height:1.25rem;
                                .pl{
                                    width:0.9375rem;height:0.9375rem;display:inline;padding-left: 0.15625rem;vertical-align:middle;
                                }
                                .p_names{
                                    font-size:14px;padding: 0.3125rem 0 0 0.0625rem;
                                     .qty{
                                        font-size:16px;color:red;
                                    }
                                }
                                }            
                            }
                       
                        }
                             .liji{height: 0.78125rem;border-top:1px solid #ddd;margin-bottom:0.3125rem
                                ;

                               
                                .tatol{
                                    font-size:16px;margin-left:45%;
                                    .zong{
                                        font-size:16px;
                                    }
                                } 
                                .anniu{
                                    margin-left:50% ;


                               input{
                                        margin-bottom: 0.3125rem;padding-left: 0.15625rem;
                                         width:0.9375rem;height: 0.46875rem;font-size:16px;
                                        padding:0.046875rem;color:#ccc;background:#fff;
                                        border:1px solid #ddd;margin-right: 0.0625rem;
                                    }
                                }
                            }
                    }
                     .box{display:none;
                    .newslist01{
                        .rt{
                            margin:0.0625rem;
                            height:0.9375rem;border-bottom:1px solid #ccc;
                            .riqi{
                                    font-size:18px;
                                    padding-left: 0.15625rem;display:inline-block;color:#000;
                                }
                            .bian{
                                font-size:16px;padding-left: 0.15625rem;margin-bottom:0.125rem;display:inline-block;
                            }
                            .deng{
                               font-size:18px;color:red;padding-left: 0.625rem;padding-right: 0.125rem;
                            }
                        }
                           .showl{

                               
                                .cont{height:1.25rem;
                                .pl{
                                    width:0.9375rem;height:0.9375rem;display:inline;padding-left: 0.15625rem;vertical-align:middle;
                                }
                                .p_names{
                                    font-size:14px;padding: 0.3125rem 0 0 0.0625rem;
                                     .qty{
                                        font-size:16px;color:red;
                                    }
                                }
                                }            
                            }
                       
                        }
                             .liji{height: 0.78125rem;border-top:1px solid #ccc;margin-bottom:0.3125rem
                                ;
                                .tatol{
                                    font-size:16px;margin-left:45%;
                                    .zong{
                                        font-size:16px;
                                    }
                                } 
                                .anniu{
                                    margin-left:50% ;
                               input{
                                        margin-bottom: 0.3125rem;padding-left: 0.15625rem;
                                         width:0.9375rem;height: 0.46875rem;font-size:16px;
                                        padding:0.046875rem;color:#ccc;background:#fff;
                                        border:1px solid #ddd;margin-right: 0.0625rem;
                                    }
                                    input:hover{color:red;}

                                }

                            }
                    }
                }
        }
    }

}

}

