.f-list{
    height:100%;
    display:flex;
    flex-direction:column;
    .list-header{
        height:50px;
        background: #f2f2f2;
        display:flex;
        justify-content:space-around;
        li{
            height:0.666667rem;
            line-height:0.666667rem;
            text-align:center;
            color: rgba(0, 0, 0, 0.3);
        }
        li:first-child{
            width:0.8rem;
            font-size:0.453333rem;
            
        }
        li:nth-child(2){
            flex:1;
            font-size:18px;
            color:#666;
        }
        li:last-child{
            width:0.8rem;
            font-size:24px;
        }
    }
    .list-main{
        flex:1;
        overflow-x:hidden;
        margin-bottom:0.666667rem;
        .main-product{
            overflow:hidden;
            li{
                height:160px;
                display:flex;
                .product-img{
                    margin-bottom:2px;
                    width:160px;
                    img{
                        width:160px;
                        height:158px;
                    }
                }
                .product-info{
                    flex:1;
                    display:flex;
                    flex-direction:column;
                    justify-content:center;
                    padding:0 16px;
                    border-bottom:2px solid #f2f2f2;

                    p:nth-of-type(1){
                        font-size:16px;
                        line-height:30px;
                    }
                    p:nth-of-type(2){
                        font-size:14px;
                        line-height:20px;
                        color:rgba(0,0,0,0.54);
                    }
                    p:nth-of-type(3){
                        font-size:16px;
                        line-height:40px;
                        color:#ff6000;
                    }
                }
            }
            li:last-child{
                .product-img{
                    margin-bottom:0;
                    img{
                        height:auto;
                    }
                }
                .product-info{
                    border-bottom:0 none;
                }
            }
        }
        .main-love{
            overflow:hidden;
            display:flex;
            flex-wrap:wrap;
            
            li{
                width:49.5%;
                margin-top:0.026667rem;
                img{
                    width:100%;
                }
                .love-info{
                    padding:0.2rem;
                    p{line-height:22px;}
                    .name{
                        font-size: 0.186667rem;
                        color: rgba(0,0,0,0.87);
                    }
                    .brief{
                        font-size: 0.16rem;
                        color: rgba(0,0,0,0.54)
                    }
                    .price{
                        font-size:0.186667rem;
                        color:#ea625b;
                    }
                }
            }
            li:first-child{
               width:100%;
               img{width:100%;height:auto;}
            }
            li:nth-child(2n){
                margin-right:2px;
            }
        }
        .emtyTips{
            padding-top:100px;
            text-align:center;
            display:none;
            p{
                font-size:16px;
                color:#666;
                span{
                    color:red;
                    padding:0 10px;
                }
            }
            .tipsImg{
                width:100px;
                margin:0 auto;
                margin-bottom:50px;
               img{
                    width:100%;
                } 

            }
            
        }
    }
}