
.wo-main{
    height: 7.44rem;
    background:#F5F5F5;
}
.w-header{
    height: 0.8rem;
    line-height: 0.666667rem;
    background:#F37D0F url("../img/wode10.png");
}
.w-headlogin1{
    
    font-size: 0.186667rem;
    color:#fff;
}
.w-headlogin{
    padding-top: 0.133333rem;
    a{
         font-size: 0.186667rem;
        color:#fff;
    } 
}
.w-headportrait{
    width: 0.666667rem;
    height: 0.666667rem;
    border: 0.04rem solid #FFB500;
    border-radius: 50%;
    float: left;
    margin-right: 0.266667rem;
    margin-left: 0.266667rem;
    margin-top: 0.08rem;
    background-color: #fff;
}
.w-tou{
    width: 0.6rem;
    height: 0.6rem;
}


.w-indent{
    height: 0.533333rem;
    background-color: #fff;
} 

.w-dingdan{
    font-size: 0.186667rem;
    line-height: 0.533333rem;
    margin-left: 0.266667rem;   
}
.w-abiaoqian{
    color:#000;
}
.w-alldingdan{
    margin-left: 2.666667rem;
    position: relative;
    .youjiantou{
        position: absolute;
        top: 0;
        right: -0.16rem;
    }
}
.fa-angle-double-right{
    margin-left: 0.133333rem;
}
.w-fukuan{
    height: 1.146667rem;
    border-top: 1px solid #ccc;
    background-color: #fff;

    li{
        float:left;
        font-size: 0.186667rem;
        margin: 0.24rem 0.533333rem;
        i{
            font-size: 0.266667rem;
            display: block;
            color:hsl(0, 5%, 57%);
            margin-left: 0.133333rem;
            margin-bottom: 0.133333rem;
        }

    }
        
}
.w-xiangtong{
    height: 1.466667rem;
    background-color: #fff;
    margin-top: 0.133333rem;
    display:flex;
    flex-direction:column;
    li{
        flex:1;
        font-size: 0.186667rem;
        line-height: 0.666667rem;
        margin-left: 0.266667rem;
        position: relative;
        .zibig{
            float: left; 
            font-size: 0.4rem; 
            margin-top: 0.133333rem;
            margin-right: 0.133333rem;
        }
        .fa-user-o{
            color:#f3dc0b;
        }
        .fa-window-maximize{
            color:#00b7ff;
        }
        .fa-heartbeat{
            color:#f13d3de7;
        }
        .fa-home{
            color:#d36318;
        }
       
      div{
          i{
              margin-left: 3.066667rem;
          }
      }

    }
}
.w-bb{
    border-bottom: 0.013333rem solid #ccc;
}
.w-xiangtong2{
    height: 0.733333rem;
    background-color: #fff;
    margin-top: 0.133333rem;
    

    li{
        height: 0.666667rem;
        font-size: 0.186667rem;
        line-height: 0.666667rem;
        margin-left: 0.266667rem;
        position: relative;
      
        .zibig{
            float: left; 
            font-size: 0.4rem; 
            margin-top: 0.133333rem; 
            margin-right: 0.133333rem;
        }
        .fa-square-o{
            color:#d9ff00;
        }
        .fa-cog{
            color:#ccccccea;
        }
      div{
          i{
              margin-left: 3.146667rem;
          }
          .shezhi{
            margin-left: 3.386667rem;
        } 
      }

    }
}
.fa-angle-right{
    font-size: 0.266667rem;
    position: absolute;
    top: 0.213333rem;
    right: 0.346667rem;
}

.U-aa{
    color:#000; 
 }

