.register{
   
    h3{
        margin-left: 100px;
       padding-top: 20px;
        margin-bottom: 40px;
    }
    .mi-register{ 
       
        div{
            margin-top: 20px;
            margin-left: 30px;
            margin-right: 30px;
            border-bottom: 1px solid #ccc;
                .mi-quhao{
                    font-size: 16px;
                    color:#535353;
                }
                input{
                border: 0px;
                outline:none;
                cursor: pointer;
                font-size: 16px;
                color:#535353;
                line-height: 20px;
                }
            }
            .mi-tishi{
                font-size: 12px;
                color:hsl(0, 93%, 48%);
                margin-top: -20px;
                margin-left: 26px;
            }
            .mi-check{
                    .mi-checkbox{
                        margin-left: 30px;
                        margin-right: 30px;
                        width: 16px;
                        height: 16px;
                        border: 0px;
                        outline:none;
                        cursor: pointer;
                        background-color: #FF6700;;
                        border-radius: 10px;
                        margin-right: 8px;
                    }
            }
            
            .mi-xieyi{
                font-size: 12px;
                color:#535353;
            }
        }
        .mi-nav{
            margin-top: 230px;
            margin-left: 40px;
            li{
                float: left;
                font-size: 12px;
               
                border-right: 1px solid #ccc;
                a{
                    color:#535353;
                    span{
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                }
            }
            .mi-wenti{
                border-right:none 0;
            }
        }
    .mi-loginBut{
        margin-top: 20px;
    }
}

