.register{
   
    h3{
        margin-left: 1.333333rem;
       padding-top: 0.266667rem;
        margin-bottom: 0.533333rem;
    }
    .mi-register{ 
       
        div{
            margin-top: 0.266667rem;
            margin-left: 0.4rem;
            margin-right: 0.4rem;
            border-bottom: 1px solid #ccc;
                .mi-quhao{
                    font-size: 0.213333rem;
                    color:#535353;
                }
                input{
                border: 0px;
                outline:none;
                cursor: pointer;
                font-size: 0.213333rem;
                color:#535353;
                line-height: 0.266667rem;
                }
            }
            .mi-tishi{
                font-size: 0.16rem;
                color:hsl(0, 93%, 48%);
                margin-top: -0.266667rem;
                margin-left: 0.346667rem;
            }
            .mi-check{
                    .mi-checkbox{
                        margin-left: 0.4rem;
                        margin-right: 0.4rem;
                        width: 0.213333rem;
                        height: 0.213333rem;
                        border: 0px;
                        outline:none;
                        cursor: pointer;
                        background-color: #FF6700;;
                        border-radius: 0.133333rem;
                        margin-right: 0.106667rem;
                    }
            }
            
            .mi-xieyi{
                font-size: 0.16rem;
                color:#535353;
            }
        }
        .mi-nav{
            margin:2.666667rem 0 0 0.666667rem; 
            li{
                float: left;
                font-size: 0.16rem;
               
                border-right: 1px solid #ccc;
                a{
                    color:#535353;
                    span{
                        margin-left: 0.133333rem;
                        margin-right: 0.133333rem;
                    }
                }
            }
            .mi-wenti{
                border-right:none 0;
            }
        }
    .mi-loginBut{
        margin-top: 0.266667rem;
    }
}

