.consig{
    // margin: 20px 20px;
    
    .consig-head{
        height: 0.666667rem;
        width: 100%;
        background-color:hsla(0, 19%, 93%, 0.863);
        .jiesuan{
            font-size: 0.4rem;
            margin-left: 0.266667rem;
            color:#666;
            
        }
        span{
            font-size: 0.266667rem;
            color:#535353;
            line-height: 0.666667rem;
            margin-left: 1.666667rem;
            
        }
    }
    .consig-main{
        margin: 0.266667rem 0.266667rem;
        div{
            border-bottom: 1px solid #ccc;
            line-height: 0.533333rem;
             label{
                font-size: 0.213333rem;
                color:#535353;
                margin-right: 0.106667rem;
            }
            input{
                border: 0px;
                outline:none;
                cursor: pointer; 
            }
            .consig-tacitlyApprove{
                font-size: 0.213333rem;
                color:#535353;
                .consig-morenMap{
                    width: 0.186667rem;
                    height: 0.186667rem;
                    border-radius: 0.066667rem;
                    margin-left: 2.4rem;
                }
            }
        }
       
    }
    .consig-saveMap{
        width: 100%;
        line-height: 0.666667rem;
        text-align: center;
        font-size: 0.213333rem;
        border: 0px;
        outline:none;
        cursor: pointer;
        color:#fff;
        background-color: #FF6700;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .city-Map{
        display: block;
        width: 100%;
        height: 0.8rem;
        background-color:hsla(0, 19%, 93%, 0.863);
        ul li{
            float: left;
            margin-top: 0.106667rem;
            margin-left: 0.133333rem;
            font-size: 0.213333rem;
            select{
                border: 0px;
                outline:none;
                cursor: pointer;
                width: 1.066667rem;
                height: 0.533333rem;
            
            }
        }
    }
    .in-acive{
        font-size: 0.186667rem;
        color:#000;
    }
}