.big{
    position:relative;
}
.tou{    
    height: 0.625rem;background-color:#F2F2F2;position:fixed;width:100%;z-index:100;
    ul{display:flex;justify-content: space-between;align-items:center;
        li{
            font-size:0.25rem;line-height: 0.625rem; 

        }
        li:nth-child(1){
            padding-left:0.15625rem;font-size:24px;color:#959595;
        }
        li:nth-child(3){
            padding-right:0.15625rem;font-size:0.3125rem;
            color:#959595;
        }

    }


}
.dl{
    height: 0.625rem;padding-top:0.625rem;
h2{font-size:20px;display:inline-block;margin-left:0.15625rem;line-height: 0.625rem;

}
span{
    font-size:12px;margin-left: 1.5625rem;
    a{
       color:#ccc; 
    }
}
}
.gouwu{margin-top: 0.78125rem;
    .quanxuan{height:0.234375rem;
        .alls{
                width:0.234375rem;height:0.234375rem;
                display:inline-block;padding-left: 0.15625rem;
            }
            span{
                font-size:14px;
            }
    }
    
    .gwc{
        .lis{height:1.5rem;padding:0.234375rem;
            overflow:hidden;position:relative;
            .all{
                width:0.234375rem;height:0.234375rem;position:absolute;top:0.75rem;left:0.09375rem;
            }
            .p-img{
                float:left;
                img{
                    width:1.25rem;height: 1.5rem;padding-left:0.15625rem;
                }
            }
              h4{
                font-size:14px;margin-top: 0.078125rem;padding-left: 1.40625rem;
            }
            .bigs{float:left;height:1.5625rem;width:71%;font-size:18px;padding-left: 0.15625rem;
            b{
                font-size:20px;font-weight:0;
            }
            .qty{
                    float: left;font-size:20px;
                 i{font-size:18px;}

                }
                .del{
                    display:inline-block;float: right;font-size:24px;padding-left: 1.5625rem;
                }
            }

        }


    }
}

  .tuijian{ margin-top: 0.46875rem;

   
        p{
            text-align:center;height:0.625rem;line-height: 0.625rem;
        }

        .product{ height:10.9375rem;

            li{
                float: left;width: 2.34375rem;height:3.125rem; padding-left: 0.15625rem;
               .tp{

                   img{
                        width:2.1875rem;height:2.1875rem;
                    } 
                }
                .info{
                
                    h4{
                        font-size:16px;padding-left:0.3125rem;  
                    }
                    span{
                        font-size:14px; color:red;  padding-left:0.3125rem;
                
                    }
                } 
            }
        
        }
       
    }
        .foot{
                width:100%;
                height:0.666667rem;
                display:flex;
                position:fixed;
                bottom:0;
                border-top:1px solid #ddd;
            li{
                flex:1;
                text-align:center;
                font-size:0.213333rem;
                a{
                    height: 100%;
                    display:flex;
                    flex-direction:column;
                    line-height:0.3rem;
                    padding-top:0.066667rem;
                    i{
                        font-size:0.266667rem;
                        color:#828282;
                    }
                    span{
                        color:#A4A4A4;
                    }
                }
            }
            li:nth-child(3) a{
                background-color:#FF6700;line-height:0.46875rem; color:#fff;font-size:16px;

            }
        }
