.f-car{
    height:100%;
    display:flex;
    flex-direction:column;
    .car-header{
        height:50px;
        background:#f2f2f2;
        display:flex;
        justify-content:space-around;
        li{
            display:flex;
            flex-direction:column;
            justify-content:center;
            text-align:center;
            color:#666;
            i{
                color:#666;
            }
        }
        li:first-child{
            width:0.8rem;
            font-size:34px;
            
        }
        li:nth-child(2){
            flex:1;
            span{
                font-size:0.24rem;
            }
        }
        li:last-child{
            width:0.8rem;
            font-size:26px;
        }
    }
    .car-main{
        flex:1;
        overflow-x:hidden;
        .main-emtyCar{
            display:none;
            height:0.8rem;
            background:#ebebeb;
            padding-left:0.933333rem;
            .car-img{
                float:left;
                width:0.8rem;
                padding-right:0.133333rem;
                img{
                    width:100%;
                }
            }
            .car-box{
                height:60px;
                display:flex;
                flex-direction:column;
                justify-content:center;
                p{
                    font-size:16px;
                    color:rgba(0,0,0,0.27);
                    a{
                        border:1px solid #ccc;
                        padding:4px 5px;
                        color:#333;
                    }
                }
            }
        }
        .all-check{
            height:40px;
            display:flex;
            label{
                input{
                    width:36px;
                }
                span{
                    font-size:18px;
                }
            }
        }
        .main-user{
            li{
                display:flex;
                padding:8px 0;
                border-bottom:1px solid #ccc;
                .user-input{
                    width:40px;
                    padding-left:10px;
                    display:flex;
                    flex-direction:column;
                    justify-content:center;
                    input{
                        // width:40px;
                    }
                }
                .user-img{
                    width:80px;
                    img{
                        width:100%;
                    }
                }
                .user-info{
                    flex:1;
                    padding-left:15px;
                    p{
                        font-size:16px;
                        line-height:26px;
                    }
                    .handleCount{
                        display:flex;
                        justify-content:space-between;
                        padding-right:20px;
                        .countBox{
                            width:100px;
                            height:30px;
                            border:1px solid #ccc;
                            display:flex;
                            .qty{
                                font-size:16px;
                            }
                            span{
                                flex:1;
                                text-align:center;
                                display:flex;
                                flex-direction:column;
                                justify-content:center;
                                border-right:1px solid #ccc;
                                color:#333;
                            }
                            span:nth-of-type(1){
                                background:#f2f2f2;
                            }
                            span:nth-of-type(3){
                                border-right:0 none;
                                background:#f2f2f2;
                            }
                        }
                        .delIcon{
                            color:#666;
                        }
                    }
                }
            }
        }
    }
    .car-footer{
        height:52px;
        background:#fff;
        display:flex;
        li{
            flex:1;
            display:flex;
            flex-direction:column;
            justify-content:center;
            text-align:center;
            a{
                text-decoration:none;
            }
        }
        li:first-child{
            p{
                font-size:14px;
            }
            .totalPrice{
                span{
                    color:#ff5722;
                    font-size:20px;
                    font-weight:bold;
                }
            }
        }
        li:nth-child(2){
            background:#f2f2f2;
            a{
                font-size:18px;
                color:#333;
            }
        }
        li:last-child{
            background:#ff5722;
            a{
                color:#fff;
                font-size:18px;
            }
        }
    }
}