.f-car{
    height:100%;
    display:flex;
    flex-direction:column;
    .car-header{
        height:0.666667rem;
        background: #f2f2f2;
        display:flex;
        justify-content:space-around;
        li{
            height:0.666667rem;
            line-height:0.666667rem;
            text-align:center;
            i{
                color: rgba(0, 0, 0, 0.3);
            }
        }
        li:first-child{
            width:0.8rem;
            font-size:0.453333rem;
            
        }
        li:nth-child(2){
            flex:1;
            font-size:0.24rem;
            color:#666;
        }
        li:last-child{
            width:0.8rem;
            font-size:0.32rem;
        }
    }
    .car-main{
        flex:1;
        overflow-x:hidden;
        .main-emtyCar{
            display:none;
            height:0.8rem;
            background:#ebebeb;
            padding-left:0.933333rem;
            .car-img{
                float:left;
                width:0.8rem;
                padding-right:0.133333rem;
                img{
                    width:100%;
                }
            }
            .car-box{
                height:0.8rem;
                display:flex;
                flex-direction:column;
                justify-content:center;
                p{
                    font-size:0.213333rem;
                    color:rgba(0,0,0,0.27);
                    a{
                        border:0.013333rem solid #ccc;
                        padding:0.053333rem 0.066667rem;
                        color:#333;
                        text-decoration:none;
                    }
                }
            }
        }
        .all-check{
            height:0.533333rem;
            display:flex;
            label{
                input{
                    width:0.48rem;
                }
                span{
                    font-size:0.24rem;
                }
            }
        }
        .main-user{
            li{
                display:flex;
                padding:0.106667rem 0;
                border-bottom:0.013333rem solid #ccc;
                .user-input{
                    width:0.533333rem;
                    padding-left:0.133333rem;
                    display:flex;
                    flex-direction:column;
                    justify-content:center;
                    .checked-input{
                    }
                }
                .user-img{
                    width:1.066667rem;
                    img{
                        width:100%;
                    }
                }
                .user-info{
                    flex:1;
                    padding-left:0.2rem;
                    p{
                        font-size:0.213333rem;
                        line-height:0.346667rem;
                    }
                    .handleCount{
                        display:flex;
                        justify-content:space-between;
                        padding-right:0.266667rem;
                        .countBox{
                            width:1.333333rem;
                            height:0.4rem;
                            border:0.013333rem solid #ccc;
                            display:flex;
                            .qty{
                                font-size:0.213333rem;
                            }
                            span{
                                flex:1;
                                text-align:center;
                                display:flex;
                                flex-direction:column;
                                justify-content:center;
                                border-right:0.013333rem solid #ccc;
                                color:#333;
                            }
                            span:nth-of-type(1){
                                background:#f2f2f2;
                            }
                            span:nth-of-type(3){
                                border-right:0 none;
                                background:#f2f2f2;
                            }
                        }
                        .delIcon{
                            color:#666;
                        }
                    }
                }
            }
        }
    }
    .car-footer{
        height:0.693333rem;
        background:#fff;
        display:flex;
        li{
            flex:1;
            display:flex;
            flex-direction:column;
            justify-content:center;
            text-align:center;
            a{
                text-decoration:none;
            }
        }
        li:first-child{
            p{
                font-size:0.186667rem;
            }
            .totalPrice{
                span{
                    color:#ff5722;
                    font-size:0.266667rem;
                    font-weight:bold;
                }
            }
        }
        li:nth-child(2){
            background:#f2f2f2;
            a{
                font-size:0.24rem;
                color:#333;
            }
        }
        li:last-child{
            background:#ff5722;
            a{
                color:#fff;
                font-size:0.24rem;
            }
        }
    }
}