.settleAccounts{
   
    display: flex;
    .settle-head{
        height: 0.8rem;
        width: 100%;
        position:fixed;
        top: 0;
        left: 0;
        z-index:100;
        margin-bottom: 0.133333rem;
        background:#f2f2f2 url('//s1.mi.com/m/images/m/bd1.png') 0 50px repeat-x;
        .jiesuan{
            font-size: 0.4rem;
            margin-left: 0.266667rem;
            color:#666;
            
        }
        span{
            font-size: 0.266667rem;
            color:#535353;
            line-height: 0.666667rem;
            margin-left: 1.666667rem;
            
        }
    }
    .settle-main{
        flex:1;
        width: 100%;
        height: 100%;
        position: relative;
        margin-top: 0.666667rem;
        background-color: hsla(0, 19%, 93%, 0.863);
            .settle-shouhuo{
                background-color: #fff;
                        h5{
                        font-size: 0.186667rem;
                        color:#000; 
                        line-height: 0.133333rem;
                        margin-left: 0.266667rem;
                        margin-top: 0.133333rem;
                            p{
                                padding: 0.133333rem 0;
                                span{
                                    margin-right: 0.266667rem;
                                }
                            }
                        i{
                            color:#645f5f;
                            position: absolute;
                            top: 0.186667rem;
                            right: 0;
                            margin-right: 0.266667rem;
                        }
                    }
            }
            .settle-zhifu{
                height: 100%;
                background-color: #fff;
                .settle-zffs{
                    margin: 0.266667rem 0.266667rem;
                        img{
                            margin-top: 0.053333rem;
                            width: 0.346667rem;
                            height: 0.346667rem;
                            float: left;
                        }
                        li{
                        border-bottom: 0.013333rem solid #ccc;
                        margin-bottom: 0.106667rem;
                        position: relative;
                        span{
                            font-size: 0.186667rem;
                            color:#000;
                            margin-left: 0.266667rem;
                            line-height: 0.533333rem;
                        }
                        .beizhu{
                            font-size: 0.16rem;
                            color:#535353;
                            margin-left: 0.266667rem;
                        }
                        .danxuan{
                            margin-right: 0.266667rem;
                            position: absolute;
                            top: 0.16rem;
                            right: 0;
                        }
                    }
                    p{
                        height: 0.4rem;
                        text-align: center;
                        line-height: 0.4rem;
                        font-size: 0.16rem;
                        color:hsl(0, 2%, 45%);
                        i{
                            font-size: 0.213333rem;
                            margin-left: 0.133333rem;
                            width: 0.133333rem;
                            height: 0.133333rem;
                            
                        }
                    }
                }
               
            }
            .settle-peisong{
                height: 100%;
                margin-top: 0.186667rem;
                background-color: #fff;
                li{
                    border-bottom: 0.013333rem solid #ccc;
                    margin-bottom: 0.106667rem;
                    position: relative;
                    span{
                        font-size: 0.186667rem;
                        color:#000;
                        margin-left: 0.266667rem;
                        line-height: 0.533333rem;
                    }
                    .xuanxiang1{
                        margin-left: 1.306667rem;
                        color:hsl(0, 2%, 45%);
                    }
                    .xuanxiang2{
                        margin-left: 2.933333rem;
                        color:hsl(0, 2%, 45%);
                    }
                    .xuanxiang3{
                        margin-left: 2.4rem;
                        color:hsl(0, 2%, 45%);
                        span{
                            color:orange;
                        }
                    }
                    
                    i{
                        margin-right: 0.266667rem;
                        font-size: 0.16rem;
                        position: absolute;
                        top: 0.16rem;
                        right: 0;
                        color:hsl(0, 2%, 45%);
                    }
                    .xuanzepeisong{
                        display:none;
                        height: 3.066667rem;
                        background-color: rgba(241, 234, 234, 0.863);
                                       
                        .xuanze1{
                            font-size: 0.16rem;
                            margin-left: 0.266667rem;
                            line-height: 0.533333rem;
                            border-bottom: 0.013333rem solid #cac4c4;
                            .xuanze2{
                                color:hsl(0, 2%, 45%);
                            }
                            .xuanze3{
                                color:rgb(59, 59, 59);
                            }
                        }
                    }
                    .xuanzetime{
                        margin-left: 0.266667rem;
                        .xuanze2{
                            line-height: 0.533333rem;
                            color:hsl(0, 2%, 45%);
                            font-size: 0.16rem;
                        }
                        ul li{
                            float: left;
                            margin-right: 0.266667rem;
                            background-color: #fff;
                            border:1px solid #ccc;
                                span{
                                    font-size: 0.16rem;
                                    color:rgb(59, 59, 59);
                                     margin-left: 0.266667rem;
                                    margin-right: 0.266667rem;
                                }
                            
                        }
                        .XTative{
                            border:1px solid #e5ff00;
                        }
                        
                    }
                }
            }
            .settle-productxinxi{
                height:100%;
                background-color: #fff;
                margin-top:0.133333rem;
                li{
                    border-bottom: 0.013333rem solid #ccc;
                    margin-bottom: 0.106667rem;
                    padding-top: 0.133333rem;
                    overflow:hidden;
                    img{
                        float: left;
                        width: 0.533333rem;
                        height: 0.533333rem;
                        margin-left: 0.266667rem;
                        margin-right:0.133333rem;
                    }
                    .content{
                        font-size: 0.186667rem;
                        color: #535353;
                        // width: 180px;
                        margin-left: 0.133333rem;
                        line-height: 0.266667rem;
                    }
                    .price{
                        font-size: 0.186667rem;
                        color:#000;
                        font-weight: bold;
                        float:right;
                        margin-top: -0.4rem;
                        margin-right: 0.133333rem;
                    }
                }
            }
            .settle-settlexinxi{
                height: 100%;
                background-color: #fff;
                margin-top:0.133333rem;
                margin-bottom: 1.066667rem;
                li{
                    line-height: 0.266667rem;
                    font-size: 0.16rem;
                    margin-top: 0.133333rem;
                    margin-left: 0.266667rem;
                }
            }      
    }
    .settle-gofukuan{
        position: fixed;
        z-index:200;
        bottom: 0;
        left: 0;
        height: 0.666667rem;
        .settle-goleft{
            float: left;
            width: 2.453333rem;
            height: 0.666667rem;
            background-color: #fff;
            font-size: 0.213333rem;
            color: #FF6700;
            text-align: center;
            line-height: 0.666667rem;
            span{
                margin-right: 0.133333rem;
            }
        }
        .settle-goright{
            float:right;
            width: 2.533333rem;
            line-height: 0.666667rem;
            font-size: 0.213333rem;
            color:#fff;
            text-align: center;
            background-color: #FF6700;
        }
    }
    .yincang{
        display: none;
        
    }
    .toggleT2{
        display:none;
    }
    .shangjiantou{
        display:none;
    }
    .f-masked{
        position:fixed;
        left:0;
        top:0;
        right:0;
        bottom:0;
        background:#000;
        opacity:0.9;
        z-index:888;
        .masked-box{
            width:2.666667rem;
            height:2.0rem;
            background:#fff;
            position:absolute;
            left:50%;
            top:50%;
            transform:translate(-50%,-50%);
            z-index:999;
            text-align:center;
            border-radius:0.133333rem;
            p{
                font-size:0.4rem;
                line-height:0.933333rem;
                padding:0 0.133333rem;
                margin-bottom:0.266667rem;
                color:#000;
            }
            button{
                width:0.8rem;
                height:0.4rem;
                background:#ff5722;
                border:0 none;
                color:#fff;
                margin:0 0.266667rem;
            }
        }
    }
   
}