// 公共active
%active{
    color:#fb7d34;
    font-size:20px;
}

.f-classify{
    height:100%;
    display:flex;
    flex-direction:column;
    .f-header{
        height:50px;
        background: #f2f2f2;
        display:flex;
        justify-content:space-around;
        li{
            height:0.666667rem;
            line-height:0.666667rem;
            text-align:center;
            color: rgba(0, 0, 0, 0.3);
        }
        li:first-child{
            width:0.8rem;
            font-size:0.453333rem;

        }
        li:nth-child(2){
            flex:1;
            font-size:18px;
            color:#666;
        }
        li:last-child{
            width:0.8rem;
            font-size:24px;
        }
    }
    .f-main{
        flex:1;
        overflow:hidden;
        margin-bottom:50px;
        display:flex;
        .f-navBar{
            width:1.066667rem;
            border-right:0.013333rem solid #ddd;
            position:relative;
            overflow:hidden;
            .f-navTitle{
                padding:10px 20px 0 0;
                position:absolute;
                top:0;
                left:0;
                right:-20px;
                bottom:0;
                overflow-x:hidden;
                li{
                    height:46px;
                    text-align:center;
                    line-height:46px;
                    font-size:16px;
                    a{
                        text-decoration:none;
                    }
                }
                li.active{
                    @extend %active;
                }
            }
        }
        .f-wrap{
            flex:1;
            overflow-x:hidden;
            padding:0.026667rem 0.2rem;
            .f-item{
                overflow:hidden;
                margin-bottom:0.533333rem;
                li:first-child{
                    width:3.466667rem;
                    height:1.4rem;
                    margin-bottom:0.133333rem;
                    img{
                        width:100%;
                    }
                }
                li:nth-child(2){
                    width:3.466667rem;
                    height:0.88rem;
                    text-align:center;
                    line-height:0.88rem;
                    span{
                        color:#3c3c3c;
                        font-size:0.186667rem;
                        position:relative;
                    }
                    span::before,span::after{
                        content:'';
                        display:block;
                        width:0.266667rem;
                        height:0.026667rem;
                        background:#e0e0e0;
                        position:absolute;
                        top:50%;
                    }
                    span::before{
                        left:35%;
                    }
                    span::after{
                        right:35%;
                    }
                }
                li:nth-child(3),li:nth-child(4),li:nth-child(5),
                li:nth-child(6),li:nth-child(7),li:nth-child(8){
                    float:left;
                    width:1.066667rem;
                    text-align:center;
                    margin-right:0.133333rem;
                    margin-top:0.266667rem;
                    img{
                        width:70%;
                        margin:0 auto;
                    }
                    span{
                        color:#333;
                        font-size:0.16rem;
                        margin-top:0.16rem;
                    }
                }
                li:nth-child(5),li:nth-child(8){
                    margin-right:0px;
                }
            }
            .f-item:last-child{
                height:6.933333rem;
            }
        }
    }
}