.footer{
    width: 100%;
    height:0.666667rem;
    display:flex;
   
    position:fixed;
    bottom:0;
    border-top:1px solid #ddd;
    background:#fff;
    li{
        flex:1;
        text-align:center;
        font-size:0.16rem;
        a{
            height: 100%;
            display:flex;
            flex-direction:column;
            line-height:0.3rem;
            padding-top:0.066667rem;
            color:#828282;
            i{
                font-size:0.296667rem;
            }
        }
        .ative{
            color:#F56C02;
        }
    }
}