.k-box{
    width: 400px;
    height: 300px;
    border:1px solid #F7F7F7;
    margin:100px auto;
    box-shadow:-10px 0px 50px 10px #ccc;
    border-radius:5px;
    h1{
        height:50px;
        width: 100%;
        border-bottom:1px solid #F7F7F7;
        font-size:18px;
        text-align:center;
        color:#676A6C;
        line-height:50px;
    }
    .k-login{
        padding-top:30px;
        position:relative;
        label{
            display:inline-block;
            width: 100px;
            text-align:right;
            margin:10px 10px;
            color:#333;
            font-size:18px;
        }
        input{
            height: 30px;
            border:1px solid #F7F7F7;
        }
        button{
            position:absolute;
            display:block;
            width: 70px;
            height: 30px;
            background-color:#1AB394;
            color:#fff;
            right: 60px;
            bottom: -50px;
            border:none;
            border-radius:5px;
        }
    }
}
