.k_user{
    overflow:auto;
    width:85%;
    height: 600px;
    border:1px solid #ccc;
    float:right;
    table{
        width: 100%;
        // border-collapse:collapse;
        display:flex;
        flex-direction:column;
        tr{display:flex;}
        td,th{
            width:200px;
            padding:10px 10px 10px 0 !important;
            font-size:12px;
            text-align:center;
            border-right:1px solid #ccc;
            white-space: nowrap;
            overflow:hidden;
            text-overflow:ellipsis
        }
        th:last-child{width: 200px;}
        thead{
            width: 100%;
            tr{
                border-bottom:1px solid #ddd;
            }
        }
        tbody{
            display:flex;
            flex-direction:column;
            width: 100%;
            border-top:1px solid #ccc;
            tr{
                border-bottom:1px solid #ccc;
                td{
                    text-align:center;
                }
            }
        }
    }
}