.login{
    margin: 30px 30px;
}
.mi-login{
    text-align: center;
    img{
       margin-left: 130px;
       width: 48px;
       height: 48px;
    }
    h5{
        margin-top: 2px;
    }
}
.mi-biaodan{
    
    div{
        border-bottom: 1px solid #ccc;
            .mi-quhao{
                font-size: 16px;
                color:#535353;
            }
            input{
            border: 0px;
            outline:none;
            cursor: pointer;
            font-size: 16px;
            color:#535353;
            line-height: 20px;
            }
        }
        .mi-mima1{
            margin-top: 18px;
        }
        .mi-tishi1{
            font-size: 12px;
            color:hsl(0, 93%, 48%);
            border-bottom: none 0;
            margin-top: -20px;
        }
        .mi-tishi2{
            font-size: 12px;
            color:hsl(0, 93%, 48%);
            border-bottom: none 0;
            margin-top: -20px;
        }
        .mi-Vcode{
            font-size: 14px;
            color:#FF6700;
        }
    }
.mi-loginBut{
    height: 82px;
    display: block;
    button{
        height: 50px;
        width: 100%;
        margin-bottom: 6px;
        border-radius:10px; 
        line-height: 50px;
        text-align: center;
        font-size: 16px;
        border: 0px;
        outline:none;
        cursor: pointer;

    }
    .mi-but1{color:#fff;background-color:#FF6700; }
    .mi-but2{color:#000;background-color: #fff;border: 1px solid #ccc;}
} 
.mi-xuanze{
    height: 30px;
    margin-top: 30px;
    margin-left: 80px;
    li{
        float: left;
        font-size: 14px;
        border-right: 1px solid #ccc;
         
        a{
            color:#535353;   
        }
       
        span{
             margin-left: 10px;
            margin-right: 10px;
        }
    }
    .mi-null{
        border-right: none;  
    }
}

.lan{
    width: 100%;
    height: 100%;
    position:fixed;
    background-color: hsla(0, 15%, 94%, 0.87);
    top: 0;
        i{
            font-size: 80px;
            color:orange;
            margin: 250px 140px;
        }
}
