
.quit{
    display: flex;
    flex-direction: column;
    height: 100%;
    .tuichu1{
        // position: fixed;
        // z-index: 200;
        // bottom: 0;
        // left: 0;
        .quit-icon{
            position: absolute;
            top: 6px;
            left: 20px;
            font-size: 40px;
            color: rgb(169, 162, 162);
        }
        .quit-icon1{
            position: absolute;
            top: 10px;
            right: 20px;
            color: rgb(194, 186, 186);
           
        }
        .tuichulogin1{
            height: 50px;
            width: 100%;
            border: 0px;
            outline:none;
            cursor: pointer;
            color: #535353;
            text-align: center;
            line-height: 20px;
            font-size: 16px;
            background-color:#f2f2f2 ;
        }
    }
    .manage{
        
        padding: 10px;
        border-bottom: 1px solid #ccc;
        p{
           margin-left: 20px;
           
           font-size: 16px;
        }
        .quit-icon2{
            position: absolute;
            top: 60px;
            right: 20px;
            font-size: 20px;
        }
        
       
    }
    .QU-main{
        flex: 1;
    }

    .tuichu{
        // position: fixed;
        // z-index: 200;
        // bottom: 0;
        // left: 0;
        .tuichulogin{
            height: 50px;
            width: 100%;
            border: 0px;
            outline:none;
            cursor: pointer;
            color: #535353;
            text-align: center;
            line-height: 20px;
            font-size: 16px;
            background-color:#f2f2f2 ;
        }
    }
}