#index{
    height: 100%;
    display:flex;
    flex-direction: column;
    .index-header{
        height: 0.666667rem;
        background-color:#f2f2f2;
        display:flex;
        justify-content:space-around;
        border-bottom:0.013333rem solid #ccc;
        li{
            color:rgba(0,0,0,0.3);

        }
        li:first-child{
            width:0.5rem;
            margin:0.2rem 0.15rem 0 0.15rem;
            img{
                width:80%;
            }
        }
        li:nth-child(2){
            flex:1;
            display:flex;
            flex-direction:column;
            justify-content:center;
            position:relative;
            .fdj{
                color:rgba(0,0,0,0.3);
                position:absolute;
                left:5px;
                font-size:0.24rem;
            }
            .f-search{
                color:rgba(0,0,0,0.3);
                font-size:0.266667rem;
                width:100%;
                height:0.45rem;
                border:0.013333rem solid #e5e5e5;
                background:#fff;
                padding-left:0.4rem;
            }
        }
        li:last-child{
            width:0.5rem;
            margin-left:0.2rem;
            display:flex;
            flex-direction:column;
           justify-content:center;
        }
    }
    .index-main{
        flex:1;
        overflow-x:hidden;
        background:#f2f2f2;
        margin-bottom:0.666667rem;
        .swiper-wrapper{
            height:2.4rem;
            .swiper-slide{
                img{
                    height:auto;
                    width:100%;
                }
            }
        }
        .f-nav{
            border-top:0.013333rem solid #ccc;
            display:flex;
            justify-content:space-between;
            li{
                flex:1;
                img{width:100%;height:auto;}
            }
        }
        .f-channel{
            height:259px;
            display:flex;
            margin:10px 0;
            .channel-box{
                flex:1;
                background:#fff;
            }
            .channel-l{
                img{
                    width:100%;
                }
            }
            .channel-r{
                display:flex;
                flex-direction:column;
                padding-left:8px;
                li{
                    flex:1;
                    img{
                        width:100%;
                    }
                }
                li:first-child{
                    margin-bottom:2px;
                }
            }
        }
        .f-doubleStyle{
            background:#fff;
            margin-bottom:10px;
            .f-big{
                img{
                    height:auto;
                    width:100%;
                }
            }
            .f-big:nth-child(2){
                margin-top:0.133333rem;
                img{
                    height:3.066667rem;
                }
            }
            .products{
                display:flex;
                flex-wrap:wrap;
                li{
                    flex:49.5%;
                    margin-top:0.026667rem;
                    img{
                        width:100%;
                    }
                    .f-info{
                        padding:0.2rem;
                        p{line-height:22px;}
                        .name{
                            font-size: 0.186667rem;
                            color: rgba(0,0,0,0.87);
                        }
                        .brief{
                            font-size: 0.16rem;
                            color: rgba(0,0,0,0.54)
                        }
                        .price{
                            font-size:0.186667rem;
                            color:#ea625b;
                        }
                    }
                }
                li:nth-child(2n+1){
                    margin-right:2px;
                }
            }
            .f-more{
                background: #fff;
                height: 0.72rem;
                line-height: 0.72rem;
                font-size: 0.213333rem;
                text-align: center;
                color: rgba(0,0,0,0.6);
                font-family: Helvetica Neue,Tahoma,Arial,PingFangSC-Regular,Hiragino Sans GB,Microsoft Yahei,sans-serif;
                border-top:1px solid #ccc;
            }
        }
        .f-miIntelligence{
            .f-product{
                li{
                    display:flex;
                    .f-img,.f-info{
                        width:50%;
                        img{
                            width:100%;
                        }
                    }
                    .f-info{
                        padding:0.2rem;
                        p{line-height:24px;}
                        .name{
                            font-size: 0.213333rem;
                            color: rgba(0,0,0,0.87);
                        }
                        .brief{
                            font-size: 0.16rem;
                            color: rgba(0,0,0,0.54)
                        }
                        .price{
                            font-size:14px;
                            color:#ea625b;
                            line-height:0.533333rem;
                            font-weight:bold;
                        }
                    }
                }
            }
        }
        .f-miProduct{
            display:flex;
            flex-wrap:wrap;
            background:#fff;
            li{
                width:49.5%;
                margin-top:4px;
                img{
                    width:100%;
                }
            }
            li:nth-child(2n+1){
                margin-right:2px;
            }
            li:last-child{
                width:100%;
                margin-top:4px;
            }
        }
    }
}
