.shippingAddress{
    display: flex;
    flex-direction: column;
    height: 100%;
    .SA-head{
        .quit-icon{
            position: absolute;
            top: 6px;
            left: 20px;
            font-size: 40px;
            color: rgb(169, 162, 162);
        }
        .tuichulogin1{
            height: 50px;
            width: 100%;
            border: 0px;
            outline:none;
            cursor: pointer;
            color: #535353;
            text-align: center;
            line-height: 20px;
            font-size: 16px;
            background-color:#f2f2f2 ;
        }
    }
    .SA-main{
        flex:1;
    }
    .SA-foot{
        .SA-footAdd{
            height: 50px;
            width: 100%;
            border: 0px;
            outline:none;
            cursor: pointer;
            color:#fff ;
            text-align: center;
            line-height: 20px;
            font-size: 16px;
            background-color:#FF6700; ;
        }
    }
}